# This is Converter config file.
# Sampling frequence of input video and frame rate of the output animation. Default: 5
converter.frame_rate=6
# Resize factor is the double by what the original resolution will be multiplied. Default: 1 (no resizing)
converter.resize_factor=1
# Speed of the output animation. The result speed = orig_speed * converter.speed. Default = 1 
converter.speed=4